<!-- Header -->
<header class="header">
    <div class="container header-container">
        <div class="header-left">
            <a href="/index.html" class="logo">
                <img src="/asset/SIG ENERGY TECHNOLOGY - logo static.png" alt="SIG Energy Technology Logo">
            </a>
            
            <nav class="nav">
                <div class="mobile-menu-toggle">
                    <i class="fas fa-bars"></i>
                </div>
                
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/pages/products/index.html" class="nav-link has-dropdown">
                            Products
                            <i class="fas fa-chevron-down dropdown-icon"></i>
                        </a>
                        <div class="dropdown-menu">                 
                            <a href="/pages/products/battery-cells.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/battery-cells-sketch.png" alt="Battery Cells">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Battery Cells</h4>
                                    <p>High-quality lithium-ion cells</p>
                                </div>
                            </a>
                            <a href="/pages/products/battery-modules.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/battery-modules-sketch.png" alt="Battery Modules">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Battery Modules</h4>
                                    <p>Custom-designed battery modules</p>
                                </div>
                            </a>
                            <a href="/pages/products/battery-management-systems.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/bms-sketch.png" alt="Battery Management Systems">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Management Systems</h4>
                                    <p>Intelligent BMS solutions</p>
                                </div>
                            </a>
                            <a href="/pages/products/battery.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/battery-sketch.png" alt="Battery">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Battery</h4>
                                    <p>Complete battery solutions</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/pages/solutions/index.html" class="nav-link has-dropdown">
                            Solutions
                            <i class="fas fa-chevron-down dropdown-icon"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a href="/pages/solutions/custom-solution.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/custom-solution-sketch.png" alt="Custom Solution Design">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Custom Solution Design</h4>
                                    <p>Tailored battery solutions</p>
                                </div>
                            </a>
                            <a href="/pages/solutions/data-service.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/data-service-sketch.png" alt="Data Service">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Data Service</h4>
                                    <p>In-house testing and analysis</p>
                                </div>
                            </a>
                            <a href="/pages/solutions/consulting-services.html" class="dropdown-item">
                                <div class="dropdown-item-img">
                                    <img src="/asset/images/sketches/consulting-sketch.png" alt="Consulting">
                                </div>
                                <div class="dropdown-item-content">
                                    <h4>Consulting</h4>
                                    <p>Expert battery consulting services</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/pages/insight/index.html" class="nav-link">Insight</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="nav-right">
            <a href="/pages/contact/index.html" class="contact-btn">Contact</a>
        </div>
        
        <div class="header-bg"></div>
    </div>
</header>
